body{
    background-color:#C7F6B6;
}
#page-wrap{
    width: 800px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
/* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .right-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.9;
    height: 50%;
    width: 40%;
  }
  .left-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.9;
    height: 50%;
    width: 40%;
  }

  .header-block {
    position: absolute;
    opacity: 0.8;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #73c256;
  }
  
  
  .button:hover {
    background-color: #73c256;
    color: white;
  }
  h2{
      font-size: 60px;
      font-weight: bold;
  }
  h4{
      font-size: 20px;
      font-weight: bold;
  }
  p{
      font-size: 15px;
      font-weight: normal;
  }
  